
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: row;
  
  
  
}

.box1 {
  width: 10%;
  padding: 20px;
  background-color: rgb(100, 32, 32);
  color: aliceblue;
  margin: 3px;
  text-align: center;
  font-weight: 600;
  
}

.box2 {
  width: 90%;
  
}

.header, .footer {
  padding: 20px;
}
